/* stylelint-disable */

@font-face {
  font-family: "PT Sans Regular";
  src: url("~assets/fonts/PTSans-Regular.eot");
  src: url('~assets/fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype');
  src: url("~assets/fonts/PTSans-Regular.woff2") format("woff2"),
  url("~assets/fonts/PTSans-Regular.woff") format("woff"),
  url("~assets/fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("~assets/fonts/PTSans-Bold.eot");
  src: url('~assets/fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype');
  src: url("~assets/fonts/PTSans-Bold.woff2") format("woff2"),
  url("~assets/fonts/PTSans-Bold.woff") format("woff"),
  url("~assets/fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}