html {
  height: 100%;
}

body {
  font-family: $f-regular;
  font-size: $s-regular;
  min-width: 320px;
}

ul[class], ol[class] {
  margin: 0;
  padding: 0;

  list-style: none;
}

input {
  outline: none;
}

input[type="number"] {
  //noinspection Stylelint
  -moz-appearance: textfield;

  //noinspection Stylelint
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
  }
}

h1 {
  margin: 0;
}


a {
  text-decoration: none;
  color: #ffffff;
}

p {
  margin: 0;
}

button {
  outline: none;
}

select {
  outline: none;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: 50%;
}

.g {

}