<template>
  <div class="c-search">
    <form id="search-form"
          ref="searchForm"
          class="c-search-form"
          name="search-form"
          @submit.prevent="formSubmit">
      <div v-if="!isSearchByRequestModeActive"
           class="c-search-main">
        <div class="c-search-filters">
          <div class="c-search-filters__filter-wrapper">
            <label for="city" />
            <select id="city"
                    v-model="form.city"
                    class="c-search-filters__filter"
                    name="city">
              <option v-for="city in cities"
                      :key="city.id"
                      class="c-search-filters__filter-item"
                      :value="city.name">
                {{ city.name }}
              </option>
            </select>
            <label for="transaction" />
            <select id="transaction"
                    v-model="form.transaction"
                    class="c-search-filters__filter c-search-filters__filter_border"
                    name="transaction">
              <option v-for="transaction in transactions"
                      :key="transaction.id"
                      class="c-search-filters__filter-item"
                      :value="transaction.title">
                {{ transaction.title }}
              </option>
            </select>
            <label for="room" />
            <select id="room"
                    v-model="form.room"
                    class="c-search-filters__filter"
                    name="room">
              <option v-for="room in premises"
                      :key="room.id"
                      class="c-search-filters__filter-item"
                      :value="room.title">
                {{ room.title }}
              </option>
            </select>
          </div>
          <button class="c-search__find"
                  type="submit">
            Найти
          </button>
        </div>
        <div class="c-search-filters">
          <div class="c-search-filters__price">
            <button v-show="!isShownPriceFields"
                    class="c-search-filters__add-btn"
                    @click.prevent="enablePriceFields">
              Добавить цену
            </button>
            <div v-show="isShownPriceFields"
                 class="c-search-filters__price-wrap">
              <label for="starting-price" />
              <input id="starting-price"
                     v-model="form.startingPrice"
                     pattern="^[ 0-9]+$"
                     name="starting-price"
                     placeholder="От"
                     class="c-search-filters__field"
                     type="number">
              <label for="final-price" />
              <input id="final-price"
                     v-model="form.finalPrice"
                     pattern="^[ 0-9]+$"
                     name="final-price"
                     placeholder="До"
                     class="c-search-filters__field c-search-filters__field_border"
                     type="number">
              <label for="period" />
              <select id="period"
                      v-model="form.period"
                      class="c-search-filters__filter"
                      name="period">
                <option v-for="period in periods"
                        :key="period.id"
                        class="c-search-filters__filter-item"
                        :value="period.title">
                  {{ period.title }}
                </option>
              </select>
            </div>
          </div>
          <div class="c-search-filters__footage">
            <button v-show="!isShownFootageFields"
                    class="c-search-filters__add-btn"
                    @click.prevent="enableFootageFields">
              Добавить метраж
            </button>
            <div v-show="isShownFootageFields"
                 class="c-search-filters__footage-wrap">
              <label for="starting-footage" />
              <input id="starting-footage"
                     v-model="form.startingFootage"
                     pattern="^[ 0-9]+$"
                     name="starting-footage"
                     placeholder="От"
                     class="c-search-filters__field c-search-filters__field_footage"
                     type="number">
              <label for="final-footage" />
              <input id="final-footage"
                     v-model="form.finalFootage"
                     pattern="^[ 0-9]+$"
                     name="final-footage"
                     placeholder="До"
                     class="c-search-filters__field c-search-filters__field_footage"
                     type="number">
              <span class="c-search-filters__footage-symbol">м<sup>2</sup></span>
            </div>
          </div>
        </div>
      </div>
      <div v-else
           class="c-search-request">
        <label for="search-request" />
        <input id="search-request"
               v-model="form.searchRequest"
               name="search-request"
               type="text"
               placeholder="Введите название объекта (бизнес-центра, торгового центра, новостройки, логопарка)"
               class="c-search-request__field">
        <button class="c-search__find c-search__find_request"
                type="submit">
          Найти
        </button>
      </div>
    </form>
    <div class="c-search-panel">
      <div class="c-search-panel__wrapper">
        <span class="c-search-panel__state"
              :class="{'c-search-panel__state_active': !isSearchByRequestModeActive}">Основной поиск</span>
        <div class="c-search-panel__wrap">
          <toggle-button v-model="isSearchByRequestModeActive" />
        </div>
        <span class="c-search-panel__state"
              :class="{'c-search-panel__state_active': isSearchByRequestModeActive}">Искать по названию</span>
      </div>
      <div v-if="!isSearchByRequestModeActive"
           class="c-search-panel__wrapper">
        <button class="c-search-panel__btn"
                :class="{'c-search-panel__btn_active': isShownPriceFields}"
                @click.prevent="enablePriceFields">
          <img v-if="!isShownPriceFields"
               src="@/assets/img/icons/plus.svg"
               class="c-search-panel__btn-img"
               alt="panel img">
          <img v-else
               src="@/assets/img/icons/cross.svg"
               class="c-search-panel__btn-img"
               alt="panel img">
          Цена
        </button>
        <button class="c-search-panel__btn"
                :class="{'c-search-panel__btn_active': isShownFootageFields}"
                @click.prevent="enableFootageFields">
          <img v-if="!isShownFootageFields"
               src="@/assets/img/icons/plus.svg"
               class="c-search-panel__btn-img"
               alt="panel img">
          <img v-else
               src="@/assets/img/icons/cross.svg"
               class="c-search-panel__btn-img"
               alt="panel img">
          Метраж
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleButton from '@/components/ToggleButton'

export default {
  name: "CSearch",
  components: {
    ToggleButton
  },
  data () {
    return {
      cities: [
        {
          name: "Москва",
          id: 1
        },
        {
          name: "Астрахань",
          id: 2
        },
        {
          name: "Казань",
          id: 3
        }
      ],
      transactions: [
        {
          title: "Купить",
          id: 4
        },
        {
          title: "Аренда",
          id: 5
        }
      ],
      premises: [
        {
          title: 'Офис',
          id: 6
        },
        {
          title: 'Гараж',
          id: 7
        },
        {
          title: 'Квартира',
          id: 8
        }
      ],
      periods: [
        {
          title: '₽/месяц',
          id: 9
        },
        {
          title: '₽/неделю',
          id: 10
        },
        {
          title: '₽/год',
          id: 11
        }
      ],
      form: {
        city: 'Москва',
        transaction: 'Купить',
        room: 'Офис',
        startingPrice: '',
        finalPrice: '',
        period: '₽/месяц',
        startingFootage: '',
        finalFootage: '',
        searchRequest: ''
      },
      isSearchByRequestModeActive: false,
      isShownPriceFields: false,
      isShownFootageFields: false
    }
  },
  methods: {
    enablePriceFields () {
      this.isShownPriceFields = !this.isShownPriceFields
    },
    enableFootageFields () {
      this.isShownFootageFields = !this.isShownFootageFields
    },
    formSubmit () {
      // сделал 2 метода formSubmit для двух разных типов запросов

      let payload = {}

      if (!this.isSearchByRequestModeActive) {
        payload = {
          city: this.form.city,
          transaction: this.form.transaction,
          room: this.form.room,
          startingPrice: this.form.startingPrice,
          finalPrice: this.form.finalPrice,
          period: this.form.period,
          startingFootage: this.form.startingFootage,
          finalFootage: this.form.finalFootage
        }
        console.log(payload)
      }
      else {
        payload = {
          searchRequest: this.form.searchRequest
        }
        console.log(payload)
      }
    }
    // formSubmit () {
    //   let form = this.$refs.searchForm,
    //     formData = new FormData(form)
    //   this.$axios.$post('/request', formData)
    //     .then(res => {
    //       console.log(res.postData.params)
    //     })
    //     .catch(err => {
    //       console.log(err)
    //     })
    // }
  }
}
</script>

<style lang="scss">

.c-search {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;

  &-form {
    background: linear-gradient(90.0deg, #82b3e5 0%, #a8d5e9 100%);
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 20px;
    padding-right: 20px;

    @include maw(380) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &-filters {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 28px;
    }

    @include maw(550) {
      display: block;
    }
  }

  &-filters__filter-wrapper {
    display: flex;
    flex-basis: 100%;

    @include maw(400) {
      flex-direction: column;
    }
  }

  &-filters__filter {
    font-size: $s-medium;
    color: #333333;
    flex-basis: 50%;
    border: none;
    background-color: #ffffff;
    height: 44px;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;

    &:not(:last-child) {
      @include maw(400) {
        margin-bottom: 15px;
      }
    }

    @include maw(550) {
      font-size: $s-regular;
    }

    @include maw(400) {
      flex-basis: initial;
      font-size: $s-small;
    }

    &_border {
      border-left: 2px solid #a3c6e8;
      border-right: 2px solid #a3c6e8;

      @include maw(400) {
        border-left: none;
        border-right: none;
      }
    }
  }

  &-filters__filter-item {
    font-size: $s-medium;
    color: #333333;

    @include maw(550) {
      font-size: $s-regular;
    }

    @include maw(400) {
      font-size: $s-small;
    }
  }

  &-filters__price {
    width: 100%;
    margin-right: 20px;
    max-width: 550px;

    @include maw(550) {
      max-width: 100%;
    }
  }

  &-filters__price-wrap {
    display: flex;

    @include maw(550) {
      margin-bottom: 20px;
    }
  }

  &-filters__add-btn {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #506981;
    background-color: transparent;
    height: 44px;
    font-size: $s-medium;
    color: #506981;
    cursor: pointer;

    @include maw(550) {
      margin-bottom: 28px;
    }
  }

  &-filters__footage {
    width: 100%;
    max-width: 330px;

    @include maw(550) {
      max-width: 100%;
    }
  }

  &-filters__footage-symbol {
    min-width: 53px;
    font-size: $s-medium;
    color: #333333;
    background-color: #c2e3f2;
    display: flex;
    align-items: center;
    justify-content: center;

    @include maw(550) {
      font-size: $s-regular;
    }

    @include maw(400) {
      font-size: $s-small;
    }
  }

  &-filters__footage-wrap {
    display: flex;
  }

  &-filters__field {
    max-width: 187px;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 2px;
    padding-left: 20px;
    font-size: $s-medium;
    color: #98a3af;

    @include maw(550) {
      max-width: 100%;
      font-size: $s-regular;
    }

    @include maw(400) {
      font-size: $s-small;
    }
  }

  &-filters__field_border {
    border-left: 2px solid #a3c6e8;
    border-right: 2px solid #a3c6e8;
  }

  &-filters__field_footage {
    max-width: 141px;

    &:nth-child(2) {
      border-right: 2px solid #a3c6e8;
    }

    @include maw(550) {
      max-width: 100%;
    }
  }

  &__find {
    min-width: 132px;
    height: 44px;
    border-radius: 2px;
    padding: 0;
    border: none;
    background-color: #5e9969;
    color: #ffffff;
    font-size: $s-big;
    cursor: pointer;

    @include maw(550) {
      width: 100%;
      margin-top: 20px;
      font-size: $s-medium;
    }
  }

  &__find_request {
    height: 44px;

    @include maw(550) {
      font-size: $s-regular;
      margin-top: 0;
      max-width: 132px;
    }

    @include maw(400) {
      font-size: $s-small;
    }
  }

  &-request {
    display: flex;
  }

  &-request__field {
    height: 44px;
    padding-left: 20px;
    border-radius: 2px;
    flex-basis: 100%;
    background-color: #ffffff;
    border: none;
  }

  &-request__field::placeholder {
    font-size: $s-medium;
    color: #798590;

    @include maw(550) {
      font-size: $s-regular;
    }

    @include maw(400) {
      font-size: $s-small;
    }
  }

  &-panel {
    display: flex;
    justify-content: space-between;
    background-color: #e6f2fe;
    padding-top: 14px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;

    @include maw(550) {
      display: block;
    }
  }

  &-panel__wrapper {
    display: flex;
    align-items: center;

    @include maw(550) {
      justify-content: center;
    }

    &:not(:last-child) {
      @include maw(550) {
        margin-bottom: 15px;
      }
    }
  }

  &-panel__state {
    color: #506981;
    margin-right: 13px;

    @include maw(400) {
      text-align: center;
    }
  }

  &-panel__state_active {
    color: #adb9c4;
  }

  &-panel__wrap {
    cursor: pointer;
    margin-right: 13px;
  }

  &-panel__toggle {
    margin-right: 13px;
  }

  &-panel__btn {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #506981;

    &:not(:last-child) {
      margin-right: 22px;
    }
  }

  &-panel__btn_active {
    color: #798590;
  }

  &-panel__btn-img {
    padding-right: 11px;
  }
}
</style>