<template>
  <div class="c-toggle"
       :class="{'c-toggle__switched': value}"
       @click="$emit('value-changed', !value)">
    <div class="c-toggle__circle" />
  </div>
</template>

<script>
export default {
  name: "ToggleButton",
  model: {
    prop: 'value',
    event: 'value-changed'
  },
  props: {
    value: {
      type: Boolean,
      required: true,
      default: false
    }
  }
}
</script>

<style lang="scss">

.c-toggle {
  cursor: pointer;
  min-width: 40px;
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 2px;
  background: #5e9969;

  &__switched {
    justify-content: flex-end;
  }

  &__circle {
    background: #ffffff;
    width: 18px;
    height: 18px;
    border-radius: 18px;
  }
}
</style>