<template>
  <div class="p-home">
    <c-search />
  </div>
</template>

<script>
import CSearch from '@/components/CSearch'

export default {
  name: 'Index',
  components: {
    CSearch
  }
}
</script>

<style scoped>

</style>